/* https://gwfh.mranftl.com/fonts/poppins?subsets=latin,latin-ext */
/* poppins-300 Light - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/poppins-v23-latin_latin-ext-300.woff2') format('woff2');
}

/* poppins-300italic LightItalic - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/fonts/poppins-v23-latin_latin-ext-300italic.woff2') format('woff2');
}

/* poppins-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins-v23-latin_latin-ext-regular.woff2') format('woff2');
}

/* poppins-italic - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/poppins-v23-latin_latin-ext-italic.woff2') format('woff2');
}

// Medium fonts are in the design, but we might drop them to lose weight
/* poppins-500 Medium - latin_latin-ext */
// @font-face {
//   font-display: swap;
//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 500;
//   src: url('../assets/fonts/poppins-v23-latin_latin-ext-500.woff2') format('woff2');
// }

/* poppins-500italic MediumItalic - latin_latin-ext */
// @font-face {
//   font-display: swap;
//   font-family: 'Poppins';
//   font-style: italic;
//   font-weight: 500;
//   src: url('../assets/fonts/poppins-v23-latin_latin-ext-500italic.woff2') format('woff2');
// }

/* poppins-600 SemiBold - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  // src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  src: url('../assets/fonts/poppins-v23-latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* poppins-600 SemiBold - latin_latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/poppins-v23-latin_latin-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-600italic SemiBoldItalic- latin_latin-ext */
// @font-face {
//   font-display: swap;
//   font-family: 'Poppins';
//   font-style: italic;
//   font-weight: 600;
//   src: url('../assets/fonts/poppins-v23-latin_latin-ext-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

/* poppins-700 Bold - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/poppins-v23-latin_latin-ext-700.woff2') format('woff2');
}

/* poppins-700italic BoldItalic - latin_latin-ext */
// @font-face {
//   font-display: swap;
//   font-family: 'Poppins';
//   font-style: italic;
//   font-weight: 700;
//   src: url('../assets/fonts/poppins-v23-latin_latin-ext-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }

/* poppins-800 ExtraBold - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/poppins-v23-latin_latin-ext-800.woff2') format('woff2');
}
