/* Common color codes */

$red: #E71E24;
$darkRed: #CE191F;
$black: #222222;
$grey: #555555;
// $mediumGrey: #CCCCCC;
$lightGrey: #ccc;
$veryLightGrey: #f7f7f7;
$darkGreen: #65673C;
$green: #B3B681;
$lightGreen: #D3D5B7;
$veryLightGreen: #ecede0;
$darkYellow: #C09600;
$yellow: #D1AA0A;
$lightYellow: #F9E380;
$veryLightYellow: #FDF7DC;

/* Break points */
$bpSmall: 640px;
$bpMedium: 768px;
$bpLarge: 980px;

/* Transition times */
$durationDef: 0.3s;
$durationLong: 2s;

/* Animations */
@keyframes fadeIn {
  0%   {opacity: 0;}
  100%  {opacity: 1;}
}

// @keyframes expand {
//   0%   {display: initial; max-height: 0; opacity: 1; color: green;}
//   80%  {opacity: 1;}
//   100%  {max-height: 500px; opacity: 1; color: blue;}
// }

/* Mixins */
@mixin collapse {
  max-height: 0;
  opacity: 0;
}

@mixin expand {
  max-height: max-content;
  opacity: 1;
  transition: opacity 0.8s;
}
